*.pyc
*.db
__pycache__
build
dist
ble_rr_logger.egg-info
*.sqlite
*.pem
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/server.iml
/.idea/vcs.xml
/sleep_record_server.egg-info/dependency_links.txt
/sleep_record_server.egg-info/PKG-INFO
/sleep_record_server.egg-info/requires.txt
/sleep_record_server.egg-info/SOURCES.txt
/sleep_record_server.egg-info/top_level.txt
